{% extends "search.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Listado de Productos</h2>

  {% if productos %}
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Cantidad Disponible</th>
        <th>Unidad de Medida</th>
        <th>Agregar Stock</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
        <td>{{ producto.nombre_producto }}</td>
        <td>{{ producto.cantidad_disponible }}</td>
        <td>{{ producto.get_unidad_medida_display }}</td>
        <td>
          <a href="{% url 'aumentar_stock' producto.id %}" class="btn btn-sm btn-success">➕ Aumentar Stock</a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <div class="alert alert-warning">No hay productos registrados en tu familia.</div>
  {% endif %}

  <div class="mt-3">
    <a href="{% url 'crear_producto' %}" class="btn btn-primary">Agregar Producto</a>
  </div>
</div>
{% endblock %}
